<!DOCTYPE html>

<html lang="en">
    <div id="wrapper" style="margin-top:-60px">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <%= link_to "<strong>Prian Kuhanandan</strong>".html_safe, root_path %>
                </li>
                <li id="projects">
                    <%= link_to "<div class='sidetext1'>Projects</div>".html_safe, projects_path %>
                </li>
                <li id="resume">
                    <%= link_to "<div class='sidetext2'>Resume</div>".html_safe, resume_path %>
                </li>
                <!--<li id="about">-->
                <!--    <%= link_to "<div class='sidetext3'>About Me</div>".html_safe, about_path %>-->
                <!--</li>-->
                <!--<li id="contact">-->
                <!--    <%= link_to "<div class='sidetext4'>Contact</div>".html_safe, contact_path %>-->
                <!--</li>-->
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        

    </div>
    <!-- /#wrapper -->


    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</html>
